<p fundoAmarelo>
  Texto com fundo amarelo.
</p>
<button fundoAmarelo> Botão</button>

<p highlightMouse >
  Texte highltght quando passo o mouse.
</p>

  <!-- <p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
    Texte highltght com corres customizadas
  </p> -->

  <p [highlight]="'green'" [defaultColor]="'grey'" >
      Texte highltght com corres customizadas
  </p>


  <div *ngIf="mostrarCursos" >
    Lista de curos
  </div>
  
  <div *ngElse="mostrarCursos" >
    Não existem cursos para serem listados.
  </div>
  
  <button (click)="onMostrarCursos()">Mostra Cursos</button>

  <template [ngElse]="mostrarCursos" >
    <div>
      Não exsitem cursos para serem listador.
    </div>
  </template>